.roulette-logo{
    position: absolute;
    bottom: 60px;
    left: 5px;
    width: 400px;
    height: 130px;
    background-color: blue;
}

.roulette-credentials{
    display: flex;
    padding: 3px 5px;
    gap: 10px;
    bottom: 0;
    left: 0;
}

.roulette-credentials >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    border: 2px solid gray;
    padding: 5px;
    width: 130px;
    border-radius: 40px;
    background: rgba(26, 26, 26, .9);
}

.roulette-credential-title{
    font-size: 12.5px;
    color: white;
}

.roulette-credential-value{
    font-size: 17.5px;
    color: yellow;
    font-weight: bold;
}


@media only screen and (max-device-width: 926px) and (orientation: landscape) {
    .roulette-credentials{
        padding: 12px 24px;
        transform: scale(1.2);
        transform-origin: bottom left;
    }
}

@media only screen and (max-device-width: 926px) and (orientation: portrait) {
    .roulette-credentials{
        width: 480px;
        justify-content: space-between;
        box-sizing: border-box;
        transform: scale(1.5);
        transform-origin: left;
        bottom: 20px;
    }

    .roulette-balance{
        left: 0;
    }

    .roulette-total-bet{
        right: 0;
    }
}