.roulette-dropdown-menu{
    display: none;
}


@media only screen and (max-device-width: 926px) and (orientation: landscape) {

    .roulette-dropdown-menu{
        display: block;
        right: 0;
        width: 345px;
        top: 5px;
        right: -275px;
        transition: right 0.3s ease-out;
        /* height: 500px; */
        /* background: rgba(26, 26, 26, 1); */
    }

    .roulette-dropdown-menu.opened{
        right: 0;
    }

    .roulette-burger-icon{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        background: rgba(26, 26, 26, 1);
        width: 70px;
        height: 70px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        border: 1px solid gray;
    }

    .roulette-burger-icon >img{
        width: 80%;
        height: 80%;
    }


    .roulette-dropdown-container{
        position: absolute;
        width: 275px;
        background: rgba(26, 26, 26, 1);
        height: 560px;
        top: 0;
        right: 0;
        padding: 5px;
        border-bottom-left-radius: 35px;
        box-sizing: border-box;
        border: 1px solid gray;
    }

    .roulette-dropdown-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .roulette-dropdown-container >div{
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 12px;
        border-bottom: 1px solid white;
    }

    .roulette-dropdown-container >div:last-child{
        border-bottom: none;
    }

    .roulette-dropdown-container >div >img{
        width: 40px;
        height: 40px;
    }

    .roulette-dropdown-container >div >label{
        color: white;
        font-size: 30px;
    }
}