.roulette-neighbour-table-wrapper{
    position: absolute;
    right: 0;
    bottom: 0;
}

.roulette-neighbour-table{
    cursor: pointer;
    position: absolute;
    width: 270px;
    bottom: 60px;
    right: 35px;
}

.roulette-neighbour-table-settings{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    bottom: 67px;
    right: 10px;
}

.roulette-neighbour-table-settings >div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.roulette-neighbour-table-settings >div.inactive{
    opacity: 0.7;
    cursor: auto;
}

.roulette-neighbour-table-settings >label{
    color: white;
}




@media only screen and (max-device-width: 926px) and (orientation: landscape) {
    .roulette-neighbour-table-wrapper{
        width: 1170px;
        top: 225px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
    }

    .roulette-neighbour-table{
        transition: all 0.75s ease-out;
        width: 1150px;
        top: 0px;
        right: 35px;
    }

    .roulette-neighbour-table-settings{
        height: fit-content;
        transform: scale(3);
        top: 120px;
        right: -15px;
    }
}


@media only screen and (max-device-width: 926px) and (orientation: portrait) {
    .roulette-neighbour-table-wrapper{
        display: none;
    }

    .roulette-neighbour-table{
        transform: rotate(90deg) scaleY(1.2);
        width: 1150px;
        bottom: 60px;
        right: 550px;
        transition: transform 0.75s ease-out;
        transform-origin: bottom right;
    }

    .roulette-neighbour-table-settings {
        bottom: 620px;
        right: 615px;
        transform: scale(4);
    }
}